spring :
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/hobbi

    username: root
    password: 1234

  data:
    redis:
      host: localhost
      port: 6379

  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQLDialect
    generate-ddl: true
    hibernate:
      ddl-auto: create
    show-sql: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: hobbi.team.official@gmail.com
    password: epmkxyieqvymjfth
    properties:
      mail:
        smtp:
          starttls:
            enable: true
            requred: true
          auth: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000


jwt:
  secret: your-secret-key
  expiration: 3600000

ncp:
  storage:
    region: kr-standard
    endpoint: https://kr.object.ncloudstorage.com
    accessKey: ncp_iam_BPAMKR2vSx9ZdOU07LKK
    secretKey: ncp_iam_BPKMKRKt7vCaDIa1vUK47okLqUqAijI2ks

logging:
  level:
    org:
      springframework:
        security: DEBUG
    secretKey: ncp_iam_BPKMKRKt7vCaDIa1vUK47okLqUqAijI2ks

